@charset "utf-8";
body{
	background-color: #dfe5f2;
	height:100%;
	font-size: 12px;
	font-family: "宋体";
	overflow:hidden;
}
.wrapper {
	padding-top:10px;
	width: 400px;
	margin: 0 auto;
}
.header {
	width: 372px;
	margin: 0 auto;
	color: #000000;
	line-height: 18px;
}
.header_left {
	float: left;
}
.clear {
	clear: both;
}

.header_mid {
	background-image: url(images/pattern_mid.gif);
	background-repeat: repeat-x;
	width: 310px;
	height: 66px;
	float: left;
	padding-top: 14px;
	padding-left: 10px;
}
.header_mid span {
	font-weight: bold;
	color: #b15122;
}
.header_mid b {
	color: #2c7e3a;
	font-family: arial;	
}

.content_left {
	line-height: 26px;
	width: 198px;
	margin-left: 18px;
	background-image: url(images/fenge.gif);
	background-position: 193px;
	background-repeat: no-repeat;
	float: left;
	margin-bottom: -15px;
}
.content_left span{
	text-align: right;
}

.content_right {
	float: right;
	color: #5e5f5e;
	margin-right: 15px;
	line-height: 16px;
	width: 160px;
	_width: 150px; /* IE6 PATCH */
}

.content {
	padding-top: 10px;
	height: 168px; 
}

.header_right {
	background-image: url(images/pattern_right.gif);
	float: right;
	width: 43px;
	height: 80px;
}
.header_right img{
	margin-top : 10px;
}

input{
	line-height: 19px;
	height: 17px;
	width: 125px;
	vertical-align : middle;
	border: solid 1px #85b1de;
	font:normal 13px tahoma,arial,helvetica,sans-serif;   
	padding-left:2px;
	letter-spacing:0.05em;
}
a.abtn{
	float:right;
}
.tips{
	text-align:right;
	padding-right: 13px;
}

.content_right .bold {
	font-weight: bold;
}
.content_right .highlight {
	color: #9d4422;
	font-weight: bold;
}
.content_right ul{	
	list-style-image : url(images/li_dot02.gif) inside;
	_list-style-image : none;
	padding-left : 4px;
	margin-top:4px;
	margin-left:4px;
}
.content_right ul li{
}

#domain{
	display:none;
	position:absolute;
	width:300px;
	height:200px;
	top:73px;
	right: -10px;
	z-index:100;
	color: #496886;
	line-height: 16px;
}
#domain .popup_mid {
	background-image: url(images/popup_mid.gif);
	background-repeat: repeat-y;
	padding-top: 8px;
	padding-left: 12px;
}
#domain .popup_top {
	line-height: 0px;
}
#domain .popup_bottom {
	line-height: 0px;
}

.popup_title_1 {
	font-weight: bold;
	color: #386198;
}
.popup_title_2 {
	font-weight: bold;
	color: #b32923;
}
#domain .popup_mid .highlight {
	font-weight: bold;
	color: #ab2d25;
}
#domain .popup_mid .underline {
	text-decoration: underline;
}
.btn_close {
	float: right;
	margin-right: 30px;
	margin-bottom: 4px;
}

#domain .popup_mid .domain {
	font-size: 12px;
	color: #000000;
}
.footer {
	clear:both;
	background-image: url(images/footer_bg.gif);
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	position:absolute;
	bottom:0;
	width:99.9%;
}
